{%block content%}
<div class="row" style="margin-top: 10px;">
    <div class="col">
        <div class="card text-center">
            <div class="card-header text-bg-primary">
                <h4>Total Orders</h4>
                
            </div>
            <div class="card-body text-bg-primary">
                <h4>{{total}}</h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header text-bg-info">
                <h4>Orders Delivered</h4>
                
                
            </div>
            <div class="card-body text-bg-info">
                <h4>{{delivered}}</h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header text-bg-secondary">
                <h4>Orders Pending</h4>
                
                
            </div>
            <div class="card-body text-bg-secondary">
                <h4>{{pending}}</h4>
            </div>
        </div>
    </div>

</div>
{%endblock%}